<footer id="footer" class="section">
  <div class="container">
    <div class="footer_container flex gap-2 justify-between">
      <div class="footer_logo">
        <img src="./assets/whitelogo.svg" alt="logo" />
      </div>
      <div class="footer_right flex justify-between">
        <ul>
          <li><a class="footer_header" href="#">Features</a></li>
          <li><a href="#">Link Shortening</a></li>
          <li><a href="#">Branded Links</a></li>
          <li><a href="#">Analytics</a></li>
        </ul>
        <ul>
          <li><a class="footer_header" href="#">Resources</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Support</a></li>
        </ul>
        <ul>
          <li><a class="footer_header" href="#">Company</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>

