#hero {
  padding: 4.5rem 0.6rem 0 0.6rem;
}
.hero_section {
  gap: 2.5rem;
}
.hero_section img {
  width: 50%;
}
.hero_section_left h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: var(--secondary-dark-blue);
}
.hero_section_left p {
  color: var(--secondary-gray-violet);
  margin-top: 0.8rem;
  line-height: 1.6;
}
.hero_section_left button {
  border: none;
  outline: none;
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .hero_section img {
    width: 40%;
  }
}
@media (max-width: 900px) {
  .hero_section_left h1 {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .hero_section {
    flex-direction: column-reverse;
    gap: 0;
  }
  .hero_section img {
    width: 100%;
  }
  .hero_section_left {
    margin-top: 2.5rem;
    text-align: center;
  }
}
