<section id="hero" class="section">
  <div class="container">
    <div class="hero_section flex items-center justify-between">
      <div class="hero_section_left">
        <h1>More than just shorter links</h1>
        <p>
          Build your brand’s recognition and get detailed insights on how
          your links are performing.
        </p>
        <button type="button" class="btn-primary">Get Started</button>
      </div>
      <img src="./assets/illustration-working.svg" alt="hero_image" />
    </div>
  </div>
</section>
