<header id="header" class="section">
  <div class="container">
    <div class="navbar_container flex items-center justify-between gap-2">
      <div class="navbar_logo flex items-center justify-center">
        <img src="./assets/logo.svg" alt="logo" />
      </div>
      <div class="navbar_left flex items-center justify-between flex-1">
        <div class="navbar_left_items">
          <ul class="flex items-center">
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="navbar_right flex items-center">
          <ul class="flex items-center">
            <li><a href="#">Login</a></li>
            <li><a href="#" class="btn-primary ml-2"> Sign Up </a></li>
          </ul>
        </div>
      </div>
      <div class="navbar_menu flex items-center justify-center">
      </div>
    </div>
  </div>
</header>
