#other {
  padding: 0 0.6rem;
  background-color: #f0f0f0;
  margin-top: 8rem;
  position: relative;
}

.searchbar {
  position: absolute;
  top: -6%;
  width: 98%;
  max-width: 1100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 2rem;
  background-color: var(--primary-violet);
  border-radius: 8px;
  background-image: url("/assets/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.searchbar.error {
  padding: 1.5rem 2rem 2rem 2rem;
}

.searchbar.error input {
  border: 2px solid var(--secondary-red);
}

.searchbar.error input::placeholder {
  color: var(--secondary-red);
}

.searchbar input {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
}
.searchbar.error .input_box p {
  display: block;
}
.searchbar .input_box {
  position: relative;
}
.searchbar .input_box p {
  position: absolute;
  color: var(--secondary-red);
  font-size: 0.7rem;
  margin-top: 0.2rem;
  display: none;
}
.btn-rounded {
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .searchbar {
    width: 95%;
    top: -4%;
  }
}
@media (max-width: 700px) {
  .searchbar {
    flex-direction: column;
    width: 94%;
    gap: 0;
    top: -4%;
    background-image: url("/assets/bg-shorten-mobile.svg");
  }
  .searchbar .input_box {
    width: 100%;
  }
  .searchbar.error {
    padding: 1.5rem 2rem;
  }
  .searchbar.error .input_box {
    margin-bottom: 0.8rem;
  }
  .searchbar input {
    width: 100%;
  }
  .searchbar button {
    width: 100%;
    margin-top: 1rem;
  }
  #other {
    margin-top: 9rem;
  }
}
@media (max-width: 600px) {
  .searchbar {
    width: 92%;
  }
}
/* url  */
.url_links {
  padding: 4rem 0;
}
.url_link {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.url_link h2 {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--secondary-dark-violet);
}
.url_link p {
  font-size: 0.9rem;
  color: var(--primary-cyan);
}
@media (max-width: 1000px) {
  .url_links {
    padding: 5rem 0;
  }
}
@media (max-width: 800px) {
  .url_links {
    padding: 5rem 0;
  }
}
@media (max-width: 796px) {
  .url_links {
    padding: 5rem 0;
  }
}
@media (max-width: 720px) {
  .url_links {
    padding: 7rem 0;
  }
  .url_link {
    flex-direction: column;
    align-items: start;
  }
  .url_link div {
    flex-direction: column;
    gap: 0;
    width: 100%;
    align-items: start;
    margin-top: 1rem;
  }
  .url_link div button {
    width: 100%;
    margin-top: 0.8rem;
  }
}
.copied {
  background: var(--primary-violet) !important;
}
.copy:hover {
  background-color: var(--primary-violet) !important;
}
@media (max-width: 400px) {
  .url_links {
    padding: 6rem 0;
  }
}



/* advanced section  */

#advanced_section {
  padding: 2rem 0.6rem;
}
.advanced h1 {
  text-align: center;
  font-size: bold;
  font-size: 2rem;
  color: var(--secondary-dark-violet);
}
.advanced p {
  text-align: center;
  color: var(--secondary-gray-violet);
  padding-top: 1rem;
  margin: 0 auto;
  line-height: 1.8;
  max-width: 500px;
}
.cards {
  padding: 3rem 0;
  position: relative;
}
.card_line {
  position: absolute;
  background: var(--primary-cyan);
  height: 5px;
  width: 60%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}
.card {
  background: white;
  border-radius: 8px;
  z-index: 1;
  padding: 1rem 1.6rem;
  position: relative;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.card h1 {
  padding-top: 2.5rem;
  font-size: 1.2rem;
  color: var(--secondary-dark-blue);
}
.card p {
  margin-top: 0.8rem;
  color: var(--secondary-gray-violet);
}
.card .icon {
  position: absolute;
  top: -15%;
  background-color: var(--primary-violet);
  padding: 1rem 1rem;
  border-radius: 50%;
}
.cardTwo {
  margin-top: 4rem;
}
.cardThree {
  margin-top: 8rem;
}
@media (max-width: 1000px) {
  .card h1 {
    font-size: 1rem;
  }
  .cardThree {
    margin-top: 12rem;
  }
  .cards {
    gap: 1rem;
  }
  .card {
    padding: 1rem 1rem;
  }
}
@media (max-width: 768px) {
  #advanced_section {
    padding: 0 0.6rem;
  }
  .cards {
    flex-direction: column;
    gap: 0;
    padding: 4.5rem 0;
  }
  .card {
    margin-bottom: 5.5rem;
  }
  .card .icon {
    left: 50%;
    transform: translateX(-50%);
  }
  .card h1 {
    text-align: center;
    margin-top: 1rem;
  }
  .card p {
    text-align: center;
  }
  .cardTwo {
    margin-top: 0;
  }
  .cardThree {
    margin-top: 0;
  }
  .card_line {
    width: 5px;
    top: 50%;
    height: 50%;
  }
}
